/* Mobile-first */

body {
  background: #ffffff;
  color: black;
  margin: 0px;
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
}

/*****header*****/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 40px;
}

.header-img {
  width: 90%;
  height: auto;
}

/*****Tech*****/
.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  padding: 64px 16px;
  margin: 0px;
}


/*****featured projects*****/

/* framwork boxes */
.framework-container {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.framework-box {
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 14px;
  max-width: 142px;
  width: 100%;
  height: 28px;
  text-align: center;
}

/* featured projects */
.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;
  margin: 0px;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  border: 1px solid red;
  align-items: center;
}

.project-card img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 12px;
}

.project-card .project-info {
  margin-top: 1rem;
}

/* demo + github links */
.project-card .project-links {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 303px;
  margin-bottom: 10px;
  border-radius: 12px;
  justify-content: flex-start;
  padding: 16px;
  text-decoration: none;
  gap: 16px;
}



/*****skills*****/
.skills {
  background-color: black;
  color: white;
  padding: 64px 16px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.skill-column {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 90%;
}

.skill-headlines {
  width: 100%;
  max-width: 200px;
  border: 1px solid white;
  border-radius: 4px;
  padding: 4px 8px;
  text-align: center;
  margin-bottom: 16px;
}

.skill-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}



/* Media Queries- Tablet Version */
@media (min-width: 768px) and (max-width: 1024px) {

  .skills-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .skill-column {
    align-items: center;
  }

  .skill-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .project-card {
    grid-template-columns: 1fr 1fr;
  }

  .project-card:nth-child(even) {
    direction: rtl;
  }

  .project-card:nth-child(even) img,
  .project-card:nth-child(even) .project-info {
    direction: ltr;
  }

  .project-card .project-info {
    margin-top: 0;
  }
}


/* Media Queries - Desktop Version */
@media (min-width: 1025px) {

  .project-card img {
    width: 80%;
    height: auto;
    max-width: 80%;
    border-radius: 12px;
  }

  .skills-container {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }

  .skill-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    min-height: 250px;
  }

  .skill-headlines {
    max-width: 142px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 2px 6px;
    text-align: center;

  }

  .skill-column ul {
    list-style: none;
    text-align: left;
    padding: 0px;
  }

  .project-card {
    grid-template-columns: 1fr 1fr;
  }

  .project-card:nth-child(even) {
    direction: rtl;
  }

  .project-card:nth-child(even) img,
  .project-card:nth-child(even) .project-info {
    direction: ltr;
  }
}