body {
  background: white;
  color: black;
  margin: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-img {
  width: 50%;
  height: auto;
}

.tech {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;

}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  padding: 2rem;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  border: 1px solid red;
}


.project-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.project-card:nth-child(even) {
  direction: rtl;
}

.project-card:nth-child(even) img,
.project-card:nth-child(even) .project-info {
  direction: ltr;
}

.framework-container {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  width: 20%;
}

.framework-box {
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px 20px;
}


.project-card .project-links {
  background: black;
  color: white;
  display: flex;
  width: 15%;
  margin-bottom: 10px;
  border-radius: 8px;
  justify-content: right;
  padding: 5px;
  text-decoration: none;

}