/* global base styles */

/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


/* body defaults */
body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
}

/* typography defaults */
h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: 500;
}

p {
  font-size: 16px;
  font-weight: 400;
}